.slideLeftBase {
    display: flex;
    border: none;
    transition: 0.8s;
    justify-content: center;
    box-sizing: border-box;
}

.slideRightBase {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: 0.8s;
    height: fit-content;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    p {
        margin: 0;
    }
    div {
        display: flex;
        flex-direction: row;
        gap: 2px;
        padding: 2px;
        align-items: center;
    }
}

.footerMainContainer {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;

    .footerContainer {
        width: 60%;
        display: flex;
        flex-direction: column;
        .footerSliderSection {
            justify-content: center;
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid white;
            padding-bottom: 10px;
            .footerSliderLeft {
                @extend .slideLeftBase;
                width: 50%;
            }
            .footerSliderRight {
                @extend .slideRightBase;
                width: 0px;
                color: rgba(255, 255, 255, 0);
            }
        }
        .footerSliderSectionOpen {
            .footerSliderLeft {
                @extend .slideLeftBase;
                width: 50%;
            }
            .footerSliderRight {
                @extend .slideRightBase;
                width: 50%;
                color: white;
            }
        }
        .footerBottom {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}